<?php

return [
           'class' => 'yii\db\Connection',
           'dsn' => 'mysql:host=localhost;dbname=sitesoft',
           'username' => 'sitesoft',
           'password' => 'qwerty',
           'charset' => 'utf8',
       ];
